
<!-- <section class="nav">
  <div class="row">
      <ng-template #loginbutton>
          <a class="button button-clear"  routerLink="/login" routerLinkActive="active">log in</a>
      </ng-template>
  </div> 
</section>


<router-outlet></router-outlet> -->

<nz-layout>
  <nz-header>
    <div class="logo">
      <a class="button button-clear"  routerLink="/home" routerLinkActive="active">GAIS Dictionary</a>
    </div>
    <ul  nz-menu style="border-bottom: 0px;" nzMode="horizontal">
      <li nz-submenu class="nav" *ngIf="user !== null"  [nzTitle]="username">
        <ul >
          <li nz-menu-item *ngIf="user.level == 0"> <a class="button button-clear" routerLink="/admin" routerLinkActive="active">admin</a></li>
          <li nz-menu-item> <a class="button button-clear" >profile</a></li>
          <li nz-menu-item> <a class="button button-clear" (click)="logout()">logout</a></li>
        </ul>
      </li>
      <ng-template #username>
        <a class="button button-clear">{{ user.display_name }}</a>
      </ng-template>
      <li class="nav" *ngIf="user === null" nz-menu-item>
        <a class="button button-clear"  routerLink="/login" routerLinkActive="active">log in</a>
      </li>
      <li class="nav" nz-menu-item>
        <a class="button button-clear" routerLink="/category" routerLinkActive="active">Categories</a>
      </li>
      <li class="nav" nz-menu-item>
        <a class="button button-clear" routerLink="/dictionary" routerLinkActive="active">Dictionary</a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>GAIS Dictionary ©2020 </nz-footer>
</nz-layout>
