<section class="wrapper header">
    <h1 class="title"> 分類辭典 </h1>
    <button class="button-outline usage-button" (click)="openDownloadOptions()">下載分類詞</button>
    <button class="button-outline usage-button" [disabled]="true">擴展方法簡介</button>
    <p class="description"> 這邊會放分類辭典簡介! </p>
</section>
<section class="wrapper content">
    <div *ngIf="cat_list else loading">
        <h2> 主類別</h2>
        <div class="class-wrapper">
            <div class="class-card" *ngFor="let cat of cat_list" routerLink="/category/{{cat.cname}}" routerLinkActive="'active'" [queryParams]="{cid: cat._id}">
                
                <h3 class="class-title">
                    {{ cat.cname }} 
                    <span class="class-title-info"><i nz-icon nzType="eye" nzTheme="fill"></i>: {{ cat.view_cnt }}</span>
                    <span class="class-title-info" ><i nz-icon nzType="folder" nzTheme="fill"></i>: {{ cat.children.length }}</span>
                </h3>
                <!-- <div class="class-content">
    
                </div>
                <div class="class-footer">
    
                </div>
                <div class="class-cover" [style.background-image]='"url(" + cat.image_urls + ")"'></div> -->
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div style="text-align: center;margin:0 2.5em;">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
    </ng-template>
</section>
