
<ng-template #loading>
    <div style="text-align: center;margin:0 2.5em;">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
</ng-template>
<section class="wrapper" *ngIf="catDetail else loading">
    <nz-page-header [nzTitle]="pageTitle">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item>
              分類辭典
            </nz-breadcrumb-item>
            <nz-breadcrumb-item *ngIf="catDetail.is_root ; else path">
               {{catDetail.cname}} 
            </nz-breadcrumb-item>
            <ng-template #path>
                <nz-breadcrumb-item *ngFor="let ancestor of catDetail.ancestors">
                    {{ancestor}}
                </nz-breadcrumb-item>
                <nz-breadcrumb-item >
                   {{catDetail.cname}} 
                </nz-breadcrumb-item>
            </ng-template>
        </nz-breadcrumb>
        

        <nz-page-header-content>
            <div class="content">
                <nz-descriptions [nzBordered]="false">
                    <nz-descriptions-item nzTitle="瀏覽次數" >{{ catDetail.view_cnt}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="編輯次數" >{{ catDetail.edit_cnt}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="最近更新">{{ catDetail.last_updated | date }}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="編輯人員" [nzSpan]="2">
                        <span *ngFor="let user of catDetail.editors; index as i">
                            <a>{{user}}</a>
                            <span *ngIf="i !== catDetail.editors.length - 1">, </span>
                        </span>
                    </nz-descriptions-item>
                </nz-descriptions>
            </div>
        </nz-page-header-content>

        <nz-page-header-extra>
            <button nz-button nzType="primary" [routerLink]="routeParams" routerLinkActive="active" [queryParams]="{ cid: catDetail._id}">edit</button>
        </nz-page-header-extra>
    </nz-page-header>

    <ng-template #pageTitle>
        <h1>{{ catDetail.cname }}</h1>
    </ng-template>

    
    <div *ngIf="(catDetail.seeds && catDetail.seeds.length > 0) || (catDetail.terms && catDetail.terms.length> 0)">

        <div class="action-button-wrapper">
            <button nz-button zType="primary" class="action-button" (click)="openModal('seeds', '種子', seedModal)">種子內容</button>
        </div>
        <div class="terms">
            <h3>類別詞 ({{catDetail.terms.length}})</h3> 
        </div>
        <div>
            <span *ngFor="let term of catDetail.terms" routerLink="/dictionary/{{term}}" routerLinkActive="'activate">
                <app-term [term]="term"></app-term>
            </span>
        </div>
    </div>


    <div *ngIf="catDetail.children && catDetail.children.length> 0">
        <nz-divider nzText="子類別"></nz-divider>
        <div class="children-wrapper">
            <div class="child-box" *ngFor="let cat_child of catDetail.children">
                <h4 class="child-title" 
                    routerLink="/category/{{catDetail.cname}}/{{cat_child.cname}}" 
                    routerLinkActive="active"
                    [queryParams]="{cid: cat_child._id}"
                >
                    {{ cat_child.cname }} 
                </h4>
                    <ng-template [ngIf]="cat_child.terms && cat_child.terms.length > 0">
                        <nz-divider nzText="類別詞彙 ({{cat_child.terms_cnt}})"></nz-divider>
                        <div class="child-content">
                            <app-term  [term]="term" *ngFor="let term of cat_child.terms"></app-term>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="cat_child.children && cat_child.children.length > 0" >
                        <nz-divider nzText="子類別 ({{cat_child.children.length}})"></nz-divider>
                        <div class="child-content">
                            <app-term 
                                [type]="'info'" 
                                [term]="cat.cname" 
                                *ngFor="let cat of cat_child.children"
                                routerLink="/category/{{catDetail.cname}}/{{cat.cname}}"
                                routerLinkActive="'active'"
                                [queryParams]="{'cid': cat._id}"
                            >
                            </app-term>
                        </div>
                    </ng-template>
            </div>
        </div>
    </div>
    
    <ng-template #seedModal>
        <span *ngFor="let seed of catDetail.seeds">
            <app-term [term]="seed" [toolList]=""></app-term>
        </span>
    </ng-template>
</section>
