.wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 0.5em;
    min-height: 60vh;
}

.content {
    display: flex;
}

.terms {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2em;
    vertical-align: center;
}
.terms > h3 {
    display: inline;
    width: max-content;
    margin-right: 0.5em;
}
.action-icon {
    color: #9b4dca;
    font-size: 14px;
    margin-right: 4px;
}
.action-button-wrapper {
    margin-bottom: 28px;
}
.action-button {
    color: #9b4dca;
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
}

.children-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.child-box {
    min-width: 300px;
    max-width: 350px;
    width: 35%;
    margin: 1.5em;
    border: 1px solid #333;
    border-radius: 8px;
}
.child-title {
    width: 90%;
    margin: .5em 1em;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #9b4dca;
    /* border-bottom: .5px solid #eee; */
}
.child-content {
    width: 90%;
    margin: 1em;
    margin-top: 0;
    height: 250px;
    max-height: 400px;
    overflow-y: auto;
}
.child-title:hover{
    cursor: pointer;
}
.child-title:active {
    outline-width: 0;
}