.container {
    width: 90%;
    margin: 0 auto;
}
.title {
    display: inline-block;
    margin: 0 1.5em;
    font-size: 32px;
    font-weight: 500;
}
.search-wrapper {
    display: inline-block;
    width: 75%;
    vertical-align: bottom;
}
.search-info {
    width: 100%;
    margin: .5em 0;
    text-align: center;
}
.results-wrapper {
}
.results {
    width: 95%;
    margin: 1em auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
.result {
    position: relative;
    display: flex;
    width: 350px;
    height: 85px;
    margin: 1em;
    padding: 8px 8px;
    border: 1px solid #9b4dca;
    border-radius: 8px;
}
.result:hover {
    cursor: pointer;
}
.result > * {
    display: inline-block;
}
.result > .title {
    margin: 0 8px;
    text-align: center;
    font-size: 20px;
    min-width: 30%;
    height: 69px;          /* ★ */
    line-height: 69px;     /* ★ */
}
.result > .info {
    display: inline;
    min-width: 50%;
    max-width: 65%;
}
.info > * {
    display: block;
}
.info > .last-updated {
    font-weight: 400;

}
.info > .v-cnt {
    display: inline-block;
    width: 48px;
    font-weight: 300;
}
.info > .e-cnt {
    display: inline-block;
    width: 48px;
    font-weight: 300;
}
.info > .fq {
    font-weight: 400;
}
.result > .arrow-icon {
    float: right;
    color: #9b4dca;
    visibility: hidden;
    font-size: 36px;
    margin-left: -16px;
    transition: .25s;
    height: 69px;          /* ★ */
    line-height: 69px;     /* ★ */
}
.result:hover > .arrow-icon {
    visibility: visible;
    font-size: 36px;
    font-weight: 500;
    margin-left: 0px;
}